__pycache__/
.git/
docker-compose.yml
.env.docker
.env.template
.env.local
.env.config_compose
Dockerfile
.github/
.mypy_cache/
.ruff_cache/
.vscode/
.DS_Store
.venv/
.gitignore
.pre-commit-config.yaml
README.md
