__pycache__/
.git/
.github/
.mypy_cache/
.ruff_cache/
.vscode/
.pytest_cache/
.venv/
.cursor/
.claude/
tests/
docker-compose.yml
docker-compose.local.yml
Dockerfile
README.md
CLAUDE.md
.env.docker
.env.template
.env.local
.env.config_compose
.env.test
.DS_Store
.gitignore
.pre-commit-config.yaml
.dockerignore
